.btn-submit {
    max-width: 15rem;
    padding: .8rem 4rem;
    color: $color-primary;
    background-color: $bg-secondary;
    border-radius: 100rem;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: auto;
    transition: all .2s;
    font-size: 1.5rem;

    @include responsive(phone){
        font-size: 2rem;
    }

    &:hover,
    &:active {
        transform: translateY(-2px);
    }
}