textarea {
    resize: none;
    padding: 1rem 2rem;
    border-radius: 3px;
    border: none;
    transition: all .2s;
    outline: none;
    font-family: inherit;
    color: $color-tertiary;
    font-size: 1.5rem;

    &:focus {
        box-shadow: 0 2px 4px rgba($color: #000000, $alpha: .5);
    }
}