.section-main {
    background-image: linear-gradient(to bottom right, rgba(50, 50, 50, 0.88), rgba(50, 50, 50, 0.88)), url(../../images/1.png);
    background-size: cover;
    min-height: 85vh;
    position: relative;
    background-repeat: no-repeat;
}

.section-about {
    display: flex;

    @include responsive(tab-port){
        flex-direction: column;
    }
    
    @include responsive(phone){
        flex-direction: column;
    }
}

.about {
    flex: 0 0 50%;
    padding-top: 10rem;
    padding-bottom: 7rem;
}

.about-content {
    margin-top: 3rem;
    font-size: 2rem;
    color: $color-tertiary;
}


.section-testimonials {
    background-color: $bg-tertiary;
    padding-bottom: 10rem;
}

.section-inputs {
    background-image: linear-gradient(to bottom right, rgba(50, 50, 50, .9), rgba(50, 50, 50, .9)), url(../../images/7.png);
    background-size: cover;
    min-height: 50vh;
    background-repeat: no-repeat;
    padding: 6rem 0 8rem 0;

    .user-question {
        color: white;
        text-align: center;
        font-size: 2.8rem;
        letter-spacing: 2px;
        padding-top: 2rem;
        font-family: 'Myriad Pro Light', sans-serif;

        @include responsive(phone){
            padding: 2rem 3rem;
            line-height: 1.4;
        }
    }

    .company-declaration {
        font-size: 1.8rem;
        color: white;
        text-align: center;
        font-family: 'Myriad Pro Light', sans-serif;

        @include responsive(phone){
            padding: .5rem 3rem;
            line-height: 1.4;
            font-size: 2.1rem;
        }
    }

    .user-form {
        display: grid;
        margin-top: 3.5rem;
        grid-template-columns: repeat(3, 25rem);
        grid-gap: 1.5rem;
        justify-content: center;

        @include responsive(tab-port){
            grid-template-columns: repeat(3, 20rem);
        }

        & > * {
            @include responsive(phone){
                display: block;
                margin: auto;
                width: 90%;
                margin-bottom: 3rem;
            }
        }

        @include responsive(phone){
            display: block;
        }
    }
}