.service {
    
    @include absCenter;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include responsive(phone){
        flex-direction: column;
        width: 100%;
        margin-top: 8rem;
    }

    &__item {
        border: .5px solid #615f5d;
        border-radius: 5px;
        padding: 3rem 5rem;
        margin-right: 3rem;
        transition: transform .3s;

        @include responsive(phone){
            display: flex;
            align-items: center;
            padding: .5rem;
            width: 90%;
            margin-right: 0;
            margin-bottom: 1.3rem;
        }

        &:hover {
            cursor: pointer;
            transform: translateY(-3px);
        }

        img {
            height: 7rem;
            width: 7rem;

            @include responsive(phone){
                padding-left: 1rem;
            }
        }

        p {
            color: $color-primary;
            font-size: 1.5rem;

            @include responsive(phone){
                font-size: 2rem;
                padding-left: 1rem;
            }
        }
    }
}